body {
  background-color: #001826 !important;
  color: rgb(226, 223, 223) !important;
}
.nav-logo {
  width: 45px;
  height: auto;
}
.nav-design {
  background-color: #001826 !important;
  color: rgb(226, 223, 223) !important;
}

.heading {
  display: flex;
  justify-content: center;
}
.about-img {
  border-radius: 30px 90px 30px 20px;
}
.xp-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  font-size: 12px;
}
.icon {
  height: 35px;
  width: 35px;
  margin-bottom: 5px;
}
.vl {
  border-right: 6px solid green;
  height: 40px;
}
.cp {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  letter-spacing: 1px;
  margin-top: 16px;
}

.footer-section {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding: 0px 120px 0px 120px !important;
  text-align: center;
  margin-bottom: 50px;
}
.last-line {
  margin-top: 100px;
}
