@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body {
  background-color: #001826 !important;
  color: rgb(226, 223, 223) !important;
}
#toggler-icon {
  color: rgb(226, 223, 223);
  font-size: 35px;
}
.nav-logo {
  width: 45px;
  height: auto;
}
.nav-design {
  background-color: #001826 !important;
}
.nav-link {
  color: rgb(226, 223, 223) !important;
}

.hero-name {
  font-size: 45px;
  padding: 10px 0px 10px 0px;
  font: bold;
}
.hero-text {
  font-size: 30px;
}
.hero-img {
  width: 500px;
  height: auto;
}
.section-padding {
  margin-top: 40px;
}
.heading {
  display: flex;
  justify-content: center;
  padding-top: 75px;
}
.about-img {
  width: 450px;
  height: auto;
  border-radius: 30px 90px 30px 20px;
}
.about-img-sec {
  display: flex;
  justify-content: center;
}
.xp-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  font-size: 12px;
}
.icon {
  height: 35px;
  width: 35px;
  margin-bottom: 5px;
}
.vl {
  border-right: 6px solid green;
  height: 40px;
}
.cp {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  letter-spacing: 1px;
  margin-top: 16px;
}

.footer-section {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding: 0px 120px 0px 120px !important;
  text-align: center;
  margin-bottom: 50px;
}
.last-line {
  margin-top: 100px;
}

/* Media Query */

@media (max-width: 576px) {
  .hero-name {
    font-size: 40px;
    padding: 10px 0px 10px 0px;
    font: bold;
  }
  .hero-img {
    width: 340px;
    height: auto;
  }
  .about-img {
    width: 340px;
    height: auto;
  }
}
